USE [master]
GO
/****** Object:  Database [TEST]    Script Date: 22/11/2018 11:05:19 p. m. ******/
CREATE DATABASE [TEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLWIN2012\MSSQL\DATA\TEST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLWIN2012\MSSQL\DATA\TEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST]
GO
USE [TEST]
GO
/****** Object:  User [Raul.Ortiz]    Script Date: 22/11/2018 11:05:23 p. m. ******/
CREATE USER [Raul.Ortiz] FOR LOGIN [Raul.Ortiz] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Raul.Ortiz]
GO
/****** Object:  UserDefinedTableType [dbo].[VALUEFIELDTYPE]    Script Date: 22/11/2018 11:05:24 p. m. ******/
CREATE TYPE [dbo].[VALUEFIELDTYPE] AS TABLE(
	[VAF_NID] [bigint] NOT NULL,
	[VAF_CVALUE] [varchar](max) NOT NULL,
	[VAF_NCLIENT] [bigint] NOT NULL,
	[FIE_NID] [bigint] NOT NULL
)
GO
/****** Object:  Table [dbo].[TBL_CONTENT]    Script Date: 22/11/2018 11:05:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CONTENT](
	[CON_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[CON_CNAME] [varchar](255) NULL,
	[CON_CDESCRIPTION] [varchar](max) NOT NULL,
	[CON_NORDER] [bigint] NOT NULL,
	[CON_OSTATE] [bit] NOT NULL,
	[CON_NID_PARENT] [bigint] NULL,
	[COT_NID] [bigint] NOT NULL,
	[SEC_NID] [bigint] NOT NULL,
 CONSTRAINT [PK_TBL_CONTENT] PRIMARY KEY CLUSTERED 
(
	[CON_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CONTENT_TYPE]    Script Date: 22/11/2018 11:05:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CONTENT_TYPE](
	[COT_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[COT_CNAME] [varchar](100) NOT NULL,
	[COT_CDESCRIPTION] [varchar](150) NOT NULL,
	[COT_CISTYLE] [xml] NOT NULL,
	[COT_OSTATE] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_CONTENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[COT_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PAGE]    Script Date: 22/11/2018 11:05:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PAGE](
	[PAG_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAG_CNAME] [varchar](100) NOT NULL,
	[PAG_CDESCRIPTION] [varchar](150) NOT NULL,
	[PAG_OSTATE] [bit] NOT NULL,
	[PAG_OMAIN] [bit] NOT NULL,
	[APP_NID] [bigint] NOT NULL,
 CONSTRAINT [PK_TBL_PAGE] PRIMARY KEY CLUSTERED 
(
	[PAG_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RANNOUNCEMENT]    Script Date: 22/11/2018 11:05:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RANNOUNCEMENT](
	[ANN_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[ANN_CNAME] [varchar](50) NOT NULL,
	[ANN_CDESCRIPTION] [varchar](100) NOT NULL,
	[ANN_DINITIAL] [datetime] NOT NULL,
	[ANN_DFINAL] [datetime] NULL,
	[ANN_OSTATE] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_RANNOUNCEMENT] PRIMARY KEY CLUSTERED 
(
	[ANN_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RAPP]    Script Date: 22/11/2018 11:05:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RAPP](
	[APP_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[APP_CNAME] [varchar](100) NOT NULL,
	[APP_CDESCRIPTION] [varchar](150) NOT NULL,
	[APP_OSTATE] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_RAPP] PRIMARY KEY CLUSTERED 
(
	[APP_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RATTACHED]    Script Date: 22/11/2018 11:05:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RATTACHED](
	[ATT_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[ATT_CNAME] [varchar](50) NOT NULL,
	[ATT_CDESCRIPTION] [varchar](150) NOT NULL,
	[ATT_OSTATE] [bit] NOT NULL,
	[ANN_NID] [bigint] NOT NULL,
 CONSTRAINT [PK_TBL_RATTACHED] PRIMARY KEY CLUSTERED 
(
	[ATT_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RCONTROL]    Script Date: 22/11/2018 11:05:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RCONTROL](
	[CTR_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[CTR_CNAME] [varchar](100) NOT NULL,
	[CTR_CDESCRIPTION] [varchar](150) NOT NULL,
	[CTR_CLABEL] [varchar](max) NOT NULL,
	[CTR_OSTATE] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_RCONTROL] PRIMARY KEY CLUSTERED 
(
	[CTR_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RFIELD]    Script Date: 22/11/2018 11:05:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RFIELD](
	[FIE_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[FIE_CNAME] [varchar](50) NOT NULL,
	[FIE_CDESCRIPTION] [varchar](100) NULL,
	[FIE_CLABEL] [varchar](100) NOT NULL,
	[FIE_OSTATE] [bit] NOT NULL,
	[TFI_NID] [bigint] NOT NULL,
	[ANN_NID] [bigint] NOT NULL,
 CONSTRAINT [PK_TBL_RFIELD] PRIMARY KEY CLUSTERED 
(
	[FIE_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RLETTERS_SOUP]    Script Date: 22/11/2018 11:05:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RLETTERS_SOUP](
	[SOP_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[SOP_CDESCRIPTION] [varchar](255) NULL,
	[SOP_CHTML] [xml] NULL,
	[SOP_OSTATE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOP_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RLOGIN]    Script Date: 22/11/2018 11:05:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RLOGIN](
	[LOG_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOG_NDOCUMENT] [bigint] NOT NULL,
	[LOG_CNAME] [varchar](255) NOT NULL,
	[LOG_CLASTNAME] [varchar](255) NOT NULL,
	[LOG_CUSER] [varchar](255) NOT NULL,
	[LOG_CPASSWORD] [varchar](255) NOT NULL,
	[PRO_NID] [bigint] NOT NULL,
	[LOG_DCREATE_DATE] [datetime] NOT NULL,
	[LOG_OSTATE] [bit] NOT NULL,
	[AUD_NID] [bigint] NOT NULL,
	[LOG_CTOKEN] [varchar](255) NULL,
	[LOG_DDATE_GENERATION_TOKEN] [datetime] NULL,
 CONSTRAINT [PK__TBL_RLOG__DE886BAA24270E61] PRIMARY KEY CLUSTERED 
(
	[LOG_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RLOGIN_AUDIT]    Script Date: 22/11/2018 11:05:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RLOGIN_AUDIT](
	[AUD_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOG_NID] [bigint] NOT NULL,
	[LOG_DDATECREATE] [datetime] NOT NULL,
	[LOG_CDESCRIPTION] [varchar](max) NOT NULL,
 CONSTRAINT [PK_TBL_RLOGIN_AUDIT] PRIMARY KEY CLUSTERED 
(
	[AUD_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RPROFILE]    Script Date: 22/11/2018 11:05:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RPROFILE](
	[PRO_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[PRO_CNAME] [varchar](255) NOT NULL,
	[PRO_OSTATE] [bit] NOT NULL,
	[AUD_NID] [bigint] NOT NULL,
	[PRO_CURL_DEFAULT] [varchar](500) NULL,
 CONSTRAINT [PK__TBL_RPRO__7C9879AB87F0BB6A] PRIMARY KEY CLUSTERED 
(
	[PRO_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RSECTION]    Script Date: 22/11/2018 11:05:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RSECTION](
	[SEC_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[SEC_CNAME] [varchar](100) NOT NULL,
	[SEC_CDESCRIPTION] [varchar](150) NOT NULL,
	[SEC_OSTATE] [bit] NOT NULL,
	[SEC_NORDER] [bigint] NOT NULL,
 CONSTRAINT [PK_TBL_RSECTION] PRIMARY KEY CLUSTERED 
(
	[SEC_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RTYPE_DOCUMENT]    Script Date: 22/11/2018 11:05:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RTYPE_DOCUMENT](
	[TIP_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[TIP_CDESCRIPTION] [varchar](255) NULL,
	[TIP_OSTATE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TIP_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RTYPE_FIELD]    Script Date: 22/11/2018 11:05:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RTYPE_FIELD](
	[TFI_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[TFI_CNAME] [varchar](50) NOT NULL,
	[TFI_CTYPE] [varchar](100) NOT NULL,
	[TFI_CREG_EXP] [varchar](50) NULL,
	[TFI_OSTATE] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_RTYPE_FIELD] PRIMARY KEY CLUSTERED 
(
	[TFI_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RTYPE_GAMES]    Script Date: 22/11/2018 11:05:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RTYPE_GAMES](
	[TYP_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[TYP_CDESCRIPCION] [varchar](255) NULL,
	[TYP_OESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TYP_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RVALIDATION]    Script Date: 22/11/2018 11:05:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RVALIDATION](
	[VAL_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[VAL_CNAME] [varchar](100) NOT NULL,
	[VAL_CDESCRIPCION] [varchar](150) NOT NULL,
	[VAL_OSTATE] [bit] NOT NULL,
	[TVA_NID] [bigint] NOT NULL,
 CONSTRAINT [PK_TBL_RVALIDATION] PRIMARY KEY CLUSTERED 
(
	[VAL_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RVALIDATION_TYPE]    Script Date: 22/11/2018 11:05:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RVALIDATION_TYPE](
	[TVA_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[TVA_CNAME] [varchar](100) NOT NULL,
	[TVA_CDESCRIPTION] [varchar](150) NOT NULL,
	[TVA_CEXPRESSION] [varchar](200) NOT NULL,
	[TVA_OSTATE] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_RVALIDATION_TYPE] PRIMARY KEY CLUSTERED 
(
	[TVA_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RVARIABLE]    Script Date: 22/11/2018 11:05:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RVARIABLE](
	[VAR_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[VAR_CNAME] [varchar](100) NOT NULL,
	[VAR_CDESCRIPTION] [varchar](150) NOT NULL,
	[VAR_CVALOR] [varchar](max) NOT NULL,
	[VAR_OSTATE] [bit] NOT NULL,
	[TYV_NID] [bigint] NOT NULL,
	[VAL_NID] [bigint] NULL,
	[CTR_NID] [bigint] NULL,
	[COT_NID] [bigint] NOT NULL,
 CONSTRAINT [PK_TBL_RVARIABLE] PRIMARY KEY CLUSTERED 
(
	[VAR_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RVARIABLE_TYPE]    Script Date: 22/11/2018 11:05:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RVARIABLE_TYPE](
	[TYV_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[TYV_CNAME] [varchar](100) NOT NULL,
	[TYV_CDESCRIPTION] [varchar](150) NOT NULL,
	[TYV_OSTATE] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_RVARIABLE_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYV_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RWORDS_SOUP]    Script Date: 22/11/2018 11:05:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RWORDS_SOUP](
	[WOR_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[SOP_NID] [bigint] NOT NULL,
	[WOR_CWORD] [varchar](255) NOT NULL,
	[WOR_OSTATE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[WOR_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TOPTION_FIELD]    Script Date: 22/11/2018 11:05:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TOPTION_FIELD](
	[OPF_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[OPF_CVALUE] [varchar](max) NOT NULL,
	[FIE_NID] [bigint] NOT NULL,
	[OPF_OSTATE] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_TOPTION_FIELD] PRIMARY KEY CLUSTERED 
(
	[OPF_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TREGISTER_DOWNLOAD]    Script Date: 22/11/2018 11:05:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TREGISTER_DOWNLOAD](
	[REG_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[TIP_NID] [bigint] NULL,
	[REG_CDOCUMENT] [varchar](255) NULL,
	[REG_CNAME] [varchar](255) NULL,
	[REG_CLASTNAME] [varchar](255) NULL,
	[REG_CEMAIL] [varchar](255) NULL,
	[REG_CPHONE] [varchar](8) NULL,
	[REG_DDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[REG_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TSCORE_GAMES]    Script Date: 22/11/2018 11:05:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TSCORE_GAMES](
	[GAM_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[GAM_CPLAYER] [varchar](255) NULL,
	[GAM_CDATE_PLAYER] [datetime] NULL,
	[GAM_NPUNTAJE] [bigint] NULL,
	[TYP_NID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[GAM_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TSECTION_PAGE]    Script Date: 22/11/2018 11:05:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TSECTION_PAGE](
	[SEP_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAG_NID] [bigint] NOT NULL,
	[SEC_NID] [bigint] NOT NULL,
 CONSTRAINT [PK_TBL_TSECTION_PAGE] PRIMARY KEY CLUSTERED 
(
	[SEP_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TVALUE_FIELD]    Script Date: 22/11/2018 11:05:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TVALUE_FIELD](
	[VAF_NID] [bigint] IDENTITY(1,1) NOT NULL,
	[VAF_CVALUE] [varchar](max) NOT NULL,
	[VAF_NCLIENT] [bigint] NOT NULL,
	[FIE_NID] [bigint] NOT NULL,
 CONSTRAINT [PK_TBL_TVALUE_FIELD] PRIMARY KEY CLUSTERED 
(
	[VAF_NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_CONTENT] ON 

INSERT [dbo].[TBL_CONTENT] ([CON_NID], [CON_CNAME], [CON_CDESCRIPTION], [CON_NORDER], [CON_OSTATE], [CON_NID_PARENT], [COT_NID], [SEC_NID]) VALUES (1, N'Header Pagina Web', N'Header de la pagína Web.', 1, 0, NULL, 1, 1)
INSERT [dbo].[TBL_CONTENT] ([CON_NID], [CON_CNAME], [CON_CDESCRIPTION], [CON_NORDER], [CON_OSTATE], [CON_NID_PARENT], [COT_NID], [SEC_NID]) VALUES (2, N'Header_Contenido_1', N'Header de la pagína Web.', 1, 0, 1, 2, 1)
INSERT [dbo].[TBL_CONTENT] ([CON_NID], [CON_CNAME], [CON_CDESCRIPTION], [CON_NORDER], [CON_OSTATE], [CON_NID_PARENT], [COT_NID], [SEC_NID]) VALUES (3, N'Footer Pagina Web', N'Footer de la pagína Web.', 3, 0, NULL, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_CONTENT] OFF
SET IDENTITY_INSERT [dbo].[TBL_CONTENT_TYPE] ON 

GO
SET IDENTITY_INSERT [dbo].[TBL_CONTENT_TYPE] OFF
SET IDENTITY_INSERT [dbo].[TBL_PAGE] ON 

INSERT [dbo].[TBL_PAGE] ([PAG_NID], [PAG_CNAME], [PAG_CDESCRIPTION], [PAG_OSTATE], [PAG_OMAIN], [APP_NID]) VALUES (1, N'Index', N'Pagina principal Web Crediflores.', 1, 1, 1)
INSERT [dbo].[TBL_PAGE] ([PAG_NID], [PAG_CNAME], [PAG_CDESCRIPTION], [PAG_OSTATE], [PAG_OMAIN], [APP_NID]) VALUES (10001, N'Benefits', N'Beneficios', 1, 0, 1)
INSERT [dbo].[TBL_PAGE] ([PAG_NID], [PAG_CNAME], [PAG_CDESCRIPTION], [PAG_OSTATE], [PAG_OMAIN], [APP_NID]) VALUES (20001, N'Products', N'Página de portafolios', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[TBL_PAGE] OFF
SET IDENTITY_INSERT [dbo].[TBL_RANNOUNCEMENT] ON 

INSERT [dbo].[TBL_RANNOUNCEMENT] ([ANN_NID], [ANN_CNAME], [ANN_CDESCRIPTION], [ANN_DINITIAL], [ANN_DFINAL], [ANN_OSTATE]) VALUES (1, N'Convocatoria 1', N'Convocatoria 1', CAST(N'2018-01-01T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[TBL_RANNOUNCEMENT] ([ANN_NID], [ANN_CNAME], [ANN_CDESCRIPTION], [ANN_DINITIAL], [ANN_DFINAL], [ANN_OSTATE]) VALUES (2, N'Convocatoria 2', N'Convocatoria 2', CAST(N'2018-01-02T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[TBL_RANNOUNCEMENT] ([ANN_NID], [ANN_CNAME], [ANN_CDESCRIPTION], [ANN_DINITIAL], [ANN_DFINAL], [ANN_OSTATE]) VALUES (4, N'Test', N'Test', CAST(N'2018-10-28T00:00:00.000' AS DateTime), CAST(N'2018-10-28T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[TBL_RANNOUNCEMENT] OFF
SET IDENTITY_INSERT [dbo].[TBL_RAPP] ON 

INSERT [dbo].[TBL_RAPP] ([APP_NID], [APP_CNAME], [APP_CDESCRIPTION], [APP_OSTATE]) VALUES (1, N'Crediflores', N'Aplicación Web Crediflores.', 1)
SET IDENTITY_INSERT [dbo].[TBL_RAPP] OFF
SET IDENTITY_INSERT [dbo].[TBL_RATTACHED] ON 

INSERT [dbo].[TBL_RATTACHED] ([ATT_NID], [ATT_CNAME], [ATT_CDESCRIPTION], [ATT_OSTATE], [ANN_NID]) VALUES (1, N'Archivo Actualizado', N'Archivo Actualizado', 1, 1)
INSERT [dbo].[TBL_RATTACHED] ([ATT_NID], [ATT_CNAME], [ATT_CDESCRIPTION], [ATT_OSTATE], [ANN_NID]) VALUES (2, N'Adjunto Archivo', N'Adjunto Archivo', 0, 1)
SET IDENTITY_INSERT [dbo].[TBL_RATTACHED] OFF
SET IDENTITY_INSERT [dbo].[TBL_RCONTROL] ON 

INSERT [dbo].[TBL_RCONTROL] ([CTR_NID], [CTR_CNAME], [CTR_CDESCRIPTION], [CTR_CLABEL], [CTR_OSTATE]) VALUES (1, N'LABEL', N'DESC TEST', N'LABEL LABEL', 1)
SET IDENTITY_INSERT [dbo].[TBL_RCONTROL] OFF
SET IDENTITY_INSERT [dbo].[TBL_RFIELD] ON 

INSERT [dbo].[TBL_RFIELD] ([FIE_NID], [FIE_CNAME], [FIE_CDESCRIPTION], [FIE_CLABEL], [FIE_OSTATE], [TFI_NID], [ANN_NID]) VALUES (1, N'Prueba Campo', N'Prueba 1', N'Prueba Label', 0, 3, 1)
INSERT [dbo].[TBL_RFIELD] ([FIE_NID], [FIE_CNAME], [FIE_CDESCRIPTION], [FIE_CLABEL], [FIE_OSTATE], [TFI_NID], [ANN_NID]) VALUES (2, N'ASD', N'', N'ASDA', 0, 1, 1)
INSERT [dbo].[TBL_RFIELD] ([FIE_NID], [FIE_CNAME], [FIE_CDESCRIPTION], [FIE_CLABEL], [FIE_OSTATE], [TFI_NID], [ANN_NID]) VALUES (3, N'Creado otro', N'', N'Nombre Prueba', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[TBL_RFIELD] OFF
SET IDENTITY_INSERT [dbo].[TBL_RLETTERS_SOUP] ON 

SET IDENTITY_INSERT [dbo].[TBL_RLETTERS_SOUP] OFF
SET IDENTITY_INSERT [dbo].[TBL_RLOGIN] ON 

INSERT [dbo].[TBL_RLOGIN] ([LOG_NID], [LOG_NDOCUMENT], [LOG_CNAME], [LOG_CLASTNAME], [LOG_CUSER], [LOG_CPASSWORD], [PRO_NID], [LOG_DCREATE_DATE], [LOG_OSTATE], [AUD_NID], [LOG_CTOKEN], [LOG_DDATE_GENERATION_TOKEN]) VALUES (1, 860056869, N'Administrador', N'Crediflores', N'QQBkAG0AaQBuAGkAcwB0AHIAYQBkAG8AcgA=', N'QQBkAG0AaQBuADEAMgAzAA==', 1, CAST(N'2018-03-03T00:00:00.000' AS DateTime), 1, 1, N'FB09F499-8671-43E8-9683-9FD38A857EBD', CAST(N'2018-11-22T20:52:32.037' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_RLOGIN] OFF
SET IDENTITY_INSERT [dbo].[TBL_RPROFILE] ON 

INSERT [dbo].[TBL_RPROFILE] ([PRO_NID], [PRO_CNAME], [PRO_OSTATE], [AUD_NID], [PRO_CURL_DEFAULT]) VALUES (1, N'Administrador', 1, 1, N'Page/Administrator/Content.html')
SET IDENTITY_INSERT [dbo].[TBL_RPROFILE] OFF
SET IDENTITY_INSERT [dbo].[TBL_RSECTION] ON 

INSERT [dbo].[TBL_RSECTION] ([SEC_NID], [SEC_CNAME], [SEC_CDESCRIPTION], [SEC_OSTATE], [SEC_NORDER]) VALUES (1, N'Header', N'Header de la web.', 1, 1)
INSERT [dbo].[TBL_RSECTION] ([SEC_NID], [SEC_CNAME], [SEC_CDESCRIPTION], [SEC_OSTATE], [SEC_NORDER]) VALUES (10001, N'Container_Beneficios', N'Contenedor de beneficios', 1, 1)
INSERT [dbo].[TBL_RSECTION] ([SEC_NID], [SEC_CNAME], [SEC_CDESCRIPTION], [SEC_OSTATE], [SEC_NORDER]) VALUES (20002, N'Container_Portafolios', N'Contenedor de portafolios', 1, 1)
SET IDENTITY_INSERT [dbo].[TBL_RSECTION] OFF
SET IDENTITY_INSERT [dbo].[TBL_RTYPE_FIELD] ON 

INSERT [dbo].[TBL_RTYPE_FIELD] ([TFI_NID], [TFI_CNAME], [TFI_CTYPE], [TFI_CREG_EXP], [TFI_OSTATE]) VALUES (1, N'Texto', N'input', NULL, 1)
INSERT [dbo].[TBL_RTYPE_FIELD] ([TFI_NID], [TFI_CNAME], [TFI_CTYPE], [TFI_CREG_EXP], [TFI_OSTATE]) VALUES (3, N'Selección', N'select', NULL, 1)
INSERT [dbo].[TBL_RTYPE_FIELD] ([TFI_NID], [TFI_CNAME], [TFI_CTYPE], [TFI_CREG_EXP], [TFI_OSTATE]) VALUES (6, N'Email', N'input', NULL, 1)
SET IDENTITY_INSERT [dbo].[TBL_RTYPE_FIELD] OFF
SET IDENTITY_INSERT [dbo].[TBL_RTYPE_GAMES] ON 

INSERT [dbo].[TBL_RTYPE_GAMES] ([TYP_NID], [TYP_CDESCRIPCION], [TYP_OESTADO]) VALUES (1, N'Puzzle', 1)
INSERT [dbo].[TBL_RTYPE_GAMES] ([TYP_NID], [TYP_CDESCRIPCION], [TYP_OESTADO]) VALUES (2, N'Soup Letter', 1)
INSERT [dbo].[TBL_RTYPE_GAMES] ([TYP_NID], [TYP_CDESCRIPCION], [TYP_OESTADO]) VALUES (3, N'CrossWords', 1)
SET IDENTITY_INSERT [dbo].[TBL_RTYPE_GAMES] OFF
SET IDENTITY_INSERT [dbo].[TBL_RVARIABLE] ON 

INSERT [dbo].[TBL_RVARIABLE] ([VAR_NID], [VAR_CNAME], [VAR_CDESCRIPTION], [VAR_CVALOR], [VAR_OSTATE], [TYV_NID], [VAL_NID], [CTR_NID], [COT_NID]) VALUES (1, N'TITLE_HEADER', N'Titulo de Header Nav', N'Crediflores', 1, 1, NULL, NULL, 1)
INSERT [dbo].[TBL_RVARIABLE] ([VAR_NID], [VAR_CNAME], [VAR_CDESCRIPTION], [VAR_CVALOR], [VAR_OSTATE], [TYV_NID], [VAL_NID], [CTR_NID], [COT_NID]) VALUES (2, N'TEXT_MENU1', N'Texto Menú.', N'Index', 1, 1, NULL, NULL, 2)
INSERT [dbo].[TBL_RVARIABLE] ([VAR_NID], [VAR_CNAME], [VAR_CDESCRIPTION], [VAR_CVALOR], [VAR_OSTATE], [TYV_NID], [VAL_NID], [CTR_NID], [COT_NID]) VALUES (3, N'TEXT_MENU2', N'Texto Menú.', N'Beneficios', 1, 1, NULL, NULL, 2)
GO
SET IDENTITY_INSERT [dbo].[TBL_RVARIABLE] OFF
SET IDENTITY_INSERT [dbo].[TBL_RVARIABLE_TYPE] ON 

INSERT [dbo].[TBL_RVARIABLE_TYPE] ([TYV_NID], [TYV_CNAME], [TYV_CDESCRIPTION], [TYV_OSTATE]) VALUES (1, N'Texto - Fijo', N'Texto fijo en un componente.', 1)
INSERT [dbo].[TBL_RVARIABLE_TYPE] ([TYV_NID], [TYV_CNAME], [TYV_CDESCRIPTION], [TYV_OSTATE]) VALUES (2, N'Imagen', N'Imagen', 1)
SET IDENTITY_INSERT [dbo].[TBL_RVARIABLE_TYPE] OFF
SET IDENTITY_INSERT [dbo].[TBL_RWORDS_SOUP] ON 

INSERT [dbo].[TBL_RWORDS_SOUP] ([WOR_NID], [SOP_NID], [WOR_CWORD], [WOR_OSTATE]) VALUES (10002, 1, N'CREDIFLORES', 1)
SET IDENTITY_INSERT [dbo].[TBL_RWORDS_SOUP] OFF
SET IDENTITY_INSERT [dbo].[TBL_TOPTION_FIELD] ON 

INSERT [dbo].[TBL_TOPTION_FIELD] ([OPF_NID], [OPF_CVALUE], [FIE_NID], [OPF_OSTATE]) VALUES (1, N'Campo modificado.', 1, 1)
INSERT [dbo].[TBL_TOPTION_FIELD] ([OPF_NID], [OPF_CVALUE], [FIE_NID], [OPF_OSTATE]) VALUES (2, N'Prueba Campo', 1, 0)
INSERT [dbo].[TBL_TOPTION_FIELD] ([OPF_NID], [OPF_CVALUE], [FIE_NID], [OPF_OSTATE]) VALUES (3, N'Prueba Campo', 1, 1)
SET IDENTITY_INSERT [dbo].[TBL_TOPTION_FIELD] OFF
SET IDENTITY_INSERT [dbo].[TBL_TSCORE_GAMES] ON 

INSERT [dbo].[TBL_TSCORE_GAMES] ([GAM_NID], [GAM_CPLAYER], [GAM_CDATE_PLAYER], [GAM_NPUNTAJE], [TYP_NID]) VALUES (10059, N'fffffffff', CAST(N'2018-11-20T22:05:22.077' AS DateTime), 0, 2)
INSERT [dbo].[TBL_TSCORE_GAMES] ([GAM_NID], [GAM_CPLAYER], [GAM_CDATE_PLAYER], [GAM_NPUNTAJE], [TYP_NID]) VALUES (10060, N'prueba sopa de letras', CAST(N'2018-11-20T23:04:41.240' AS DateTime), 1, 2)
INSERT [dbo].[TBL_TSCORE_GAMES] ([GAM_NID], [GAM_CPLAYER], [GAM_CDATE_PLAYER], [GAM_NPUNTAJE], [TYP_NID]) VALUES (10061, N'prueba sopa de letras dos', CAST(N'2018-11-20T23:11:49.707' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[TBL_TSCORE_GAMES] OFF
SET IDENTITY_INSERT [dbo].[TBL_TSECTION_PAGE] ON 

INSERT [dbo].[TBL_TSECTION_PAGE] ([SEP_NID], [PAG_NID], [SEC_NID]) VALUES (1, 1, 1)
INSERT [dbo].[TBL_TSECTION_PAGE] ([SEP_NID], [PAG_NID], [SEC_NID]) VALUES (10001, 10001, 10001)
INSERT [dbo].[TBL_TSECTION_PAGE] ([SEP_NID], [PAG_NID], [SEC_NID]) VALUES (20001, 20001, 20002)
SET IDENTITY_INSERT [dbo].[TBL_TSECTION_PAGE] OFF
SET IDENTITY_INSERT [dbo].[TBL_TVALUE_FIELD] ON 

INSERT [dbo].[TBL_TVALUE_FIELD] ([VAF_NID], [VAF_CVALUE], [VAF_NCLIENT], [FIE_NID]) VALUES (1, N'CC', 0, 20002)
INSERT [dbo].[TBL_TVALUE_FIELD] ([VAF_NID], [VAF_CVALUE], [VAF_NCLIENT], [FIE_NID]) VALUES (2, N'123123123', 0, 20003)
INSERT [dbo].[TBL_TVALUE_FIELD] ([VAF_NID], [VAF_CVALUE], [VAF_NCLIENT], [FIE_NID]) VALUES (3, N'asd', 0, 20004)
SET IDENTITY_INSERT [dbo].[TBL_TVALUE_FIELD] OFF
ALTER TABLE [dbo].[TBL_RFIELD] ADD  CONSTRAINT [DF_TBL_RFIELD_FIE_OSTATE]  DEFAULT ((1)) FOR [FIE_OSTATE]
GO
ALTER TABLE [dbo].[TBL_TREGISTER_DOWNLOAD] ADD  DEFAULT (getdate()) FOR [REG_DDATE]
GO
ALTER TABLE [dbo].[TBL_TSCORE_GAMES] ADD  DEFAULT (getdate()) FOR [GAM_CDATE_PLAYER]
GO
ALTER TABLE [dbo].[TBL_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CONTENT_TBL_CONTENT] FOREIGN KEY([CON_NID_PARENT])
REFERENCES [dbo].[TBL_CONTENT] ([CON_NID])
GO
ALTER TABLE [dbo].[TBL_CONTENT] CHECK CONSTRAINT [FK_TBL_CONTENT_TBL_CONTENT]
GO
ALTER TABLE [dbo].[TBL_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CONTENT_TBL_CONTENT_TYPE] FOREIGN KEY([COT_NID])
REFERENCES [dbo].[TBL_CONTENT_TYPE] ([COT_NID])
GO
ALTER TABLE [dbo].[TBL_CONTENT] CHECK CONSTRAINT [FK_TBL_CONTENT_TBL_CONTENT_TYPE]
GO
ALTER TABLE [dbo].[TBL_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CONTENT_TBL_RSECTION] FOREIGN KEY([SEC_NID])
REFERENCES [dbo].[TBL_RSECTION] ([SEC_NID])
GO
ALTER TABLE [dbo].[TBL_CONTENT] CHECK CONSTRAINT [FK_TBL_CONTENT_TBL_RSECTION]
GO
ALTER TABLE [dbo].[TBL_PAGE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PAGE_TBL_RAPP] FOREIGN KEY([APP_NID])
REFERENCES [dbo].[TBL_RAPP] ([APP_NID])
GO
ALTER TABLE [dbo].[TBL_PAGE] CHECK CONSTRAINT [FK_TBL_PAGE_TBL_RAPP]
GO
ALTER TABLE [dbo].[TBL_RATTACHED]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RATTACHED_TBL_RANNOUNCEMENT] FOREIGN KEY([ANN_NID])
REFERENCES [dbo].[TBL_RANNOUNCEMENT] ([ANN_NID])
GO
ALTER TABLE [dbo].[TBL_RATTACHED] CHECK CONSTRAINT [FK_TBL_RATTACHED_TBL_RANNOUNCEMENT]
GO
ALTER TABLE [dbo].[TBL_RFIELD]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RFIELD_TBL_RANNOUNCEMENT] FOREIGN KEY([ANN_NID])
REFERENCES [dbo].[TBL_RANNOUNCEMENT] ([ANN_NID])
GO
ALTER TABLE [dbo].[TBL_RFIELD] CHECK CONSTRAINT [FK_TBL_RFIELD_TBL_RANNOUNCEMENT]
GO
ALTER TABLE [dbo].[TBL_RFIELD]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RFIELD_TBL_RTYPE_FIELD] FOREIGN KEY([TFI_NID])
REFERENCES [dbo].[TBL_RTYPE_FIELD] ([TFI_NID])
GO
ALTER TABLE [dbo].[TBL_RFIELD] CHECK CONSTRAINT [FK_TBL_RFIELD_TBL_RTYPE_FIELD]
GO
ALTER TABLE [dbo].[TBL_RLOGIN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RLOGIN_TBL_RPROFILE] FOREIGN KEY([PRO_NID])
REFERENCES [dbo].[TBL_RPROFILE] ([PRO_NID])
GO
ALTER TABLE [dbo].[TBL_RLOGIN] CHECK CONSTRAINT [FK_TBL_RLOGIN_TBL_RPROFILE]
GO
ALTER TABLE [dbo].[TBL_RLOGIN_AUDIT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RLOGIN_AUDIT_TBL_RLOGIN] FOREIGN KEY([LOG_NID])
REFERENCES [dbo].[TBL_RLOGIN] ([LOG_NID])
GO
ALTER TABLE [dbo].[TBL_RLOGIN_AUDIT] CHECK CONSTRAINT [FK_TBL_RLOGIN_AUDIT_TBL_RLOGIN]
GO
ALTER TABLE [dbo].[TBL_RVALIDATION]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RVALIDATION_TBL_RVALIDATION_TYPE] FOREIGN KEY([TVA_NID])
REFERENCES [dbo].[TBL_RVALIDATION_TYPE] ([TVA_NID])
GO
ALTER TABLE [dbo].[TBL_RVALIDATION] CHECK CONSTRAINT [FK_TBL_RVALIDATION_TBL_RVALIDATION_TYPE]
GO
ALTER TABLE [dbo].[TBL_RVARIABLE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RVARIABLE_TBL_CONTENT_TYPE] FOREIGN KEY([COT_NID])
REFERENCES [dbo].[TBL_CONTENT_TYPE] ([COT_NID])
GO
ALTER TABLE [dbo].[TBL_RVARIABLE] CHECK CONSTRAINT [FK_TBL_RVARIABLE_TBL_CONTENT_TYPE]
GO
ALTER TABLE [dbo].[TBL_RVARIABLE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RVARIABLE_TBL_RCONTROL] FOREIGN KEY([CTR_NID])
REFERENCES [dbo].[TBL_RCONTROL] ([CTR_NID])
GO
ALTER TABLE [dbo].[TBL_RVARIABLE] CHECK CONSTRAINT [FK_TBL_RVARIABLE_TBL_RCONTROL]
GO
ALTER TABLE [dbo].[TBL_RVARIABLE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RVARIABLE_TBL_RVALIDATION] FOREIGN KEY([VAL_NID])
REFERENCES [dbo].[TBL_RVALIDATION] ([VAL_NID])
GO
ALTER TABLE [dbo].[TBL_RVARIABLE] CHECK CONSTRAINT [FK_TBL_RVARIABLE_TBL_RVALIDATION]
GO
ALTER TABLE [dbo].[TBL_RVARIABLE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RVARIABLE_TBL_RVARIABLE_TYPE] FOREIGN KEY([TYV_NID])
REFERENCES [dbo].[TBL_RVARIABLE_TYPE] ([TYV_NID])
GO
ALTER TABLE [dbo].[TBL_RVARIABLE] CHECK CONSTRAINT [FK_TBL_RVARIABLE_TBL_RVARIABLE_TYPE]
GO
ALTER TABLE [dbo].[TBL_TOPTION_FIELD]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TOPTION_FIELD_TBL_RFIELD] FOREIGN KEY([FIE_NID])
REFERENCES [dbo].[TBL_RFIELD] ([FIE_NID])
GO
ALTER TABLE [dbo].[TBL_TOPTION_FIELD] CHECK CONSTRAINT [FK_TBL_TOPTION_FIELD_TBL_RFIELD]
GO
ALTER TABLE [dbo].[TBL_TSECTION_PAGE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TSECTION_PAGE_TBL_PAGE] FOREIGN KEY([PAG_NID])
REFERENCES [dbo].[TBL_PAGE] ([PAG_NID])
GO
ALTER TABLE [dbo].[TBL_TSECTION_PAGE] CHECK CONSTRAINT [FK_TBL_TSECTION_PAGE_TBL_PAGE]
GO
ALTER TABLE [dbo].[TBL_TSECTION_PAGE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TSECTION_PAGE_TBL_RSECTION] FOREIGN KEY([SEC_NID])
REFERENCES [dbo].[TBL_RSECTION] ([SEC_NID])
GO
ALTER TABLE [dbo].[TBL_TSECTION_PAGE] CHECK CONSTRAINT [FK_TBL_TSECTION_PAGE_TBL_RSECTION]
GO
ALTER TABLE [dbo].[TBL_TVALUE_FIELD]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TVALUE_FIELD_TBL_RFIELD] FOREIGN KEY([FIE_NID])
REFERENCES [dbo].[TBL_RFIELD] ([FIE_NID])
GO
ALTER TABLE [dbo].[TBL_TVALUE_FIELD] CHECK CONSTRAINT [FK_TBL_TVALUE_FIELD_TBL_RFIELD]
GO
/****** Object:  StoredProcedure [dbo].[ANNOUNCEMENT_INSERT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ANNOUNCEMENT_INSERT]    
    @ANN_CNAME [varchar](50), 
    @ANN_CDESCRIPTION [varchar](100),
    @ANN_DINITIAL [datetime],
    @ANN_DFINAL [datetime],
    @ANN_OSTATE [bit]
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[TBL_RANNOUNCEMENT] (
				[ANN_CNAME],
				[ANN_CDESCRIPTION],	
				[ANN_DINITIAL],
				[ANN_DFINAL],
				[ANN_OSTATE]
    )
    OUTPUT inserted.[ANN_NID]
    SELECT	@ANN_CNAME , 
			@ANN_CDESCRIPTION,
			@ANN_DINITIAL,
			@ANN_DFINAL,
			@ANN_OSTATE
END

GO
/****** Object:  StoredProcedure [dbo].[ANNOUNCEMENT_SELECT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Selects records from table [dbo].[TBL_RANNOUNCEMENT]
-- =======================================================
CREATE PROCEDURE [dbo].[ANNOUNCEMENT_SELECT]
    @ANN_NID [bigint] = NULL,
	@ANN_OSTATE [bigint] = 1
AS
BEGIN
    SET NOCOUNT ON;

    IF (@ANN_NID IS NULL)
    BEGIN
        SELECT	[ANN_NID] AnnouncementId,
				[ANN_CNAME] AnnouncementName,
				[ANN_CDESCRIPTION]  AnnouncementDescription,
				[ANN_DINITIAL]  AnnouncementDateInicial,
				[ANN_DFINAL]    AnnouncementDateFinal,
				[ANN_OSTATE]	AnnouncementState
        FROM [dbo].[TBL_RANNOUNCEMENT]
		--WHERE ANN_OSTATE = @ANN_OSTATE
    END
    ELSE
    BEGIN
        SELECT	[ANN_NID] AnnouncementId,
				[ANN_CNAME] AnnouncementName,
				[ANN_CDESCRIPTION]  AnnouncementDescription,
				[ANN_DINITIAL]  AnnouncementDateInicial,
				[ANN_DFINAL]    AnnouncementDateFinal,
				[ANN_OSTATE]	AnnouncementState
        FROM [dbo].[TBL_RANNOUNCEMENT]
        WHERE	(@ANN_NID IS NULL OR [ANN_NID] = @ANN_NID)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ANNOUNCEMENT_UPDATE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Updates record in table [dbo].[TBL_RANNOUNCEMENT]
-- =======================================================
CREATE PROCEDURE [dbo].[ANNOUNCEMENT_UPDATE]
    
@ANN_NID [bigint] = NULL,
@ANN_CNAME [varchar](50) = NULL,
@ANN_CDESCRIPTION [varchar](100) = NULL,
@ANN_DINITIAL [datetime] = NULL,
@ANN_DFINAL [datetime] = NULL,
@ANN_OSTATE [bit]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[TBL_RANNOUNCEMENT] 
	SET	[ANN_CNAME] = ISNULL(@ANN_CNAME, ANN_CNAME),
	[ANN_CDESCRIPTION] = ISNULL(@ANN_CDESCRIPTION, ANN_CDESCRIPTION),
	[ANN_DINITIAL] = ISNULL(@ANN_DINITIAL, ANN_DINITIAL),
	[ANN_DFINAL] = ISNULL(@ANN_DFINAL, ANN_DFINAL),
	[ANN_OSTATE] = ISNULL(@ANN_OSTATE, ANN_OSTATE)
    WHERE [ANN_NID] = @ANN_NID
END
GO
/****** Object:  StoredProcedure [dbo].[ATTACHED_INSERT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Deletes recors from table [dbo].[TBL_RATTACHED]
-- =======================================================
CREATE PROCEDURE [dbo].[ATTACHED_INSERT]    
    @ATT_CNAME [varchar](50),
    @ATT_CDESCRIPTION [varchar](150),
    @ATT_OSTATE [bit],
    @ANN_NID [bigint]
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[TBL_RATTACHED] (
			[ATT_CNAME],
			[ATT_CDESCRIPTION],
			[ATT_OSTATE],
			[ANN_NID]
    )
    OUTPUT inserted.[ATT_NID]
    SELECT @ATT_CNAME,
        @ATT_CDESCRIPTION,
        @ATT_OSTATE,
        @ANN_NID
END
GO
/****** Object:  StoredProcedure [dbo].[ATTACHED_SELECT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Selects records from table [dbo].[TBL_RATTACHED]
-- =======================================================
CREATE PROCEDURE [dbo].[ATTACHED_SELECT]
@ANN_NID BIGINT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF (@ANN_NID IS NULL)
    BEGIN
        SELECT	[ATT_NID]  AttachedId,
				[ATT_CNAME] AttachedName,
				[ATT_CDESCRIPTION] AttachedDescription,
				[ATT_OSTATE] AttachedState,
				A.[ANN_NID] AnnouncementId,
				[ANN_CNAME] AnnouncementName,
				[ANN_CDESCRIPTION]  AnnouncementDescription,
				[ANN_DINITIAL]  AnnouncementDateInicial,
				[ANN_DFINAL]    AnnouncementDateFinal,
				[ANN_OSTATE]	AnnouncementState
        FROM [dbo].[TBL_RATTACHED] AT
		INNER JOIN TBL_RANNOUNCEMENT A ON AT.ANN_NID = A.ANN_NID
    END
    ELSE
    BEGIN
        SELECT	[ATT_NID]  AttachedId,
				[ATT_CNAME] AttachedName,
				[ATT_CDESCRIPTION] AttachedDescription,
				[ATT_OSTATE] AttachedState,
				A.[ANN_NID] AnnouncementId,
				[ANN_CNAME] AnnouncementName,
				[ANN_CDESCRIPTION]  AnnouncementDescription,
				[ANN_DINITIAL]  AnnouncementDateInicial,
				[ANN_DFINAL]    AnnouncementDateFinal,
				[ANN_OSTATE]	AnnouncementState
        FROM [dbo].[TBL_RATTACHED] AT
		INNER JOIN TBL_RANNOUNCEMENT A ON AT.ANN_NID = A.ANN_NID
        WHERE  A.[ANN_NID] = @ANN_NID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ATTACHED_UPDATE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Updates record in table [dbo].[TBL_RATTACHED]
-- =======================================================
CREATE PROCEDURE [dbo].[ATTACHED_UPDATE]
    @ATT_NID [bigint],
    @ATT_CNAME [varchar](50) = NULL,
    @ATT_CDESCRIPTION [varchar](150) = NULL,
    @ATT_OSTATE [bit] = NULL,
    @ANN_NID [bigint] = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[TBL_RATTACHED] 
	SET	[ATT_CNAME] = ISNULL(@ATT_CNAME, ATT_CNAME) ,
        [ATT_CDESCRIPTION] = ISNULL(@ATT_CDESCRIPTION, ATT_CDESCRIPTION),
        [ATT_OSTATE] = ISNULL(@ATT_OSTATE, ATT_OSTATE),
        [ANN_NID] = ISNULL(@ANN_NID, ANN_NID)
    WHERE [ATT_NID] = @ATT_NID
END
GO
/****** Object:  StoredProcedure [dbo].[FIELD_INSERT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Deletes recors from table [dbo].[TBL_RFIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[FIELD_INSERT]    
@FIE_CNAME AS [varchar](50),
@FIE_CDESCRIPTION AS [varchar](100) NULL,
@FIE_CLABEL AS [varchar](100),
@FIE_OSTATE AS [bit] NULL,
@TFI_NID AS [bigint],
@ANN_NID AS [bigint]
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[TBL_RFIELD] (
		[FIE_CNAME]    
        ,[FIE_CDESCRIPTION]    
        ,[FIE_CLABEL]    
        ,[FIE_OSTATE]    
        ,[TFI_NID]    
        ,[ANN_NID]
    )
    SELECT 
        @FIE_CNAME    
        ,@FIE_CDESCRIPTION    
        ,@FIE_CLABEL    
        ,@FIE_OSTATE    
        ,@TFI_NID    
        ,@ANN_NID
END
GO
/****** Object:  StoredProcedure [dbo].[FIELD_SELECT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Selects records from table [dbo].[TBL_RFIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[FIELD_SELECT]
    @ANN_NID [bigint] = NULL,
    @FIE_NID [bigint] = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF (@FIE_NID IS NULL AND @FIE_NID > 0)
    BEGIN
        SELECT	[FIE_NID] FieldId,
				[FIE_CNAME] FieldName,
				[FIE_CDESCRIPTION] FieldDescription,
				[FIE_CLABEL] FieldLabel,
				[FIE_OSTATE] FieldState,
				TF.TFI_NID TypeFieldId,
				TF.TFI_CNAME TypeFieldName,
				TF.TFI_CTYPE TypeFieldType,
				TF.TFI_OSTATE TypeFieldState,
				A.[ANN_NID] AnnouncementId,
				[ANN_CNAME] AnnouncementName,
				[ANN_CDESCRIPTION]  AnnouncementDescription,
				[ANN_DINITIAL]  AnnouncementDateInicial,
				[ANN_DFINAL]    AnnouncementDateFinal,
				[ANN_OSTATE]	AnnouncementState
        FROM [dbo].[TBL_RFIELD] F
		INNER JOIN TBL_RTYPE_FIELD TF ON F.TFI_NID = TF.TFI_NID
		INNER JOIN TBL_RANNOUNCEMENT A ON F.ANN_NID = A.ANN_NID
		WHERE A.ANN_NID = ISNULL(@ANN_NID, A.ANN_NID)
    END
    ELSE
    BEGIN
        SELECT	[FIE_NID] FieldId,
				[FIE_CNAME] FieldName,
				[FIE_CDESCRIPTION] FieldDescription,
				[FIE_CLABEL] FieldLabel,
				[FIE_OSTATE] FieldState,
				TF.TFI_NID TypeFieldId,
				TF.TFI_CNAME TypeFieldName,
				TF.TFI_CTYPE TypeFieldType,
				TF.TFI_OSTATE TypeFieldState,	
				A.[ANN_NID] AnnouncementId,
				[ANN_CNAME] AnnouncementName,
				[ANN_CDESCRIPTION]  AnnouncementDescription,
				[ANN_DINITIAL]  AnnouncementDateInicial,
				[ANN_DFINAL]    AnnouncementDateFinal,
				[ANN_OSTATE]	AnnouncementState
        FROM [dbo].[TBL_RFIELD] F
		INNER JOIN TBL_RTYPE_FIELD TF ON F.TFI_NID = TF.TFI_NID
		INNER JOIN TBL_RANNOUNCEMENT A ON F.ANN_NID = A.ANN_NID
        WHERE (@FIE_NID IS NULL OR [FIE_NID] = @FIE_NID)
		AND A.ANN_NID = ISNULL(@ANN_NID, A.ANN_NID)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[FIELD_SELECT_BY_ANNOUNCEMENT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Selects records from table [dbo].[TBL_RFIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[FIELD_SELECT_BY_ANNOUNCEMENT]
@ANN_NID AS bigint
AS
BEGIN
    SET NOCOUNT ON;
    
	SELECT	[FIE_NID] FieldId,
			[FIE_CNAME] FieldName,
			[FIE_CDESCRIPTION] FieldDescription,
			[FIE_CLABEL] FieldLabel,
			[FIE_OSTATE] FieldState,
			TF.TFI_NID TypeFieldId,
			TF.TFI_CNAME TypeFieldName,
			TF.TFI_CTYPE TypeFieldType,
			TF.TFI_OSTATE TypeFieldState,
			A.[ANN_NID] AnnouncementId,
			[ANN_CNAME] AnnouncementName,
			[ANN_CDESCRIPTION]  AnnouncementDescription,
			[ANN_DINITIAL]  AnnouncementDateInicial,
			[ANN_DFINAL]    AnnouncementDateFinal,
			[ANN_OSTATE]	AnnouncementState
    FROM [dbo].[TBL_RFIELD] F
	INNER JOIN TBL_RTYPE_FIELD TF ON F.TFI_NID = TF.TFI_NID
	INNER JOIN TBL_RANNOUNCEMENT A ON F.ANN_NID = A.ANN_NID
	WHERE F.ANN_NID = ISNULL(@ANN_NID, A.ANN_NID)
END
GO
/****** Object:  StoredProcedure [dbo].[FIELD_UPDATE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Updates record in table [dbo].[TBL_RFIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[FIELD_UPDATE]
    @FIE_NID [bigint],
    @FIE_CNAME [varchar](50) = NULL,
    @FIE_CDESCRIPTION [varchar](100) = NULL,
    @FIE_CLABEL [varchar](100) = NULL,
    @FIE_OSTATE [bit] = NULL,
    @TFI_NID [bigint] = NULL,
    @ANN_NID [bigint] = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[TBL_RFIELD] 
	SET	[FIE_CNAME] = ISNULL(@FIE_CNAME, FIE_CNAME),
        [FIE_CDESCRIPTION] = ISNULL(@FIE_CDESCRIPTION, FIE_CDESCRIPTION),
        [FIE_CLABEL] = ISNULL(@FIE_CLABEL, FIE_CLABEL),
        [FIE_OSTATE] = ISNULL(@FIE_OSTATE, FIE_OSTATE),
        [TFI_NID] = ISNULL(@TFI_NID, TFI_NID),
        [ANN_NID] = ISNULL(@ANN_NID, ANN_NID)
    WHERE [FIE_NID] = @FIE_NID
END
GO
/****** Object:  StoredProcedure [dbo].[GET_ANNOUNCEMENT_CLIENTE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Selects records from table [dbo].[TBL_RANNOUNCEMENT]
-- =======================================================
CREATE PROCEDURE [dbo].[GET_ANNOUNCEMENT_CLIENTE]
    @ANN_NID [bigint]
AS
BEGIN
	SELECT	A.[ANN_NID] AnnouncementId, [ANN_CNAME] AnnouncementName, [ANN_CDESCRIPTION]  AnnouncementDescription,
			[ANN_DINITIAL]  AnnouncementDateInicial, [ANN_DFINAL]    AnnouncementDateFinal,	[ANN_OSTATE] AnnouncementState,
			[FIE_NID] FieldId,
			[FIE_CNAME] FieldName,
			[FIE_CDESCRIPTION] FieldDescription,
			[FIE_CLABEL] FieldLabel,
			[FIE_OSTATE] FieldState,
			TF.TFI_NID TypeFieldId,
			TF.TFI_CNAME TypeFieldName,
			TF.TFI_CTYPE TypeFieldType,
			TF.TFI_OSTATE TypeFieldState,
			[ATT_NID]  AttachedId,
			[ATT_CNAME] AttachedName,
			[ATT_CDESCRIPTION] AttachedDescription,
			[ATT_OSTATE] AttachedState
	FROM [dbo].[TBL_RFIELD] F WITH (NOLOCK)
	INNER JOIN TBL_RTYPE_FIELD TF  WITH (NOLOCK) ON F.TFI_NID = TF.TFI_NID
	INNER JOIN TBL_RANNOUNCEMENT A  WITH (NOLOCK) ON F.ANN_NID = A.ANN_NID
	LEFT JOIN [TBL_RATTACHED] AT  WITH (NOLOCK) ON AT.ANN_NID = A.ANN_NID
	WHERE ANN_OSTATE = 1
END
GO
/****** Object:  StoredProcedure [dbo].[GET_CONTENT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_CONTENT]  
@PAGINA AS varchar(255) = NULL
AS  
BEGIN  
 
 
 DECLARE @ID_PAGINA BIGINT = NULL
 IF (@PAGINA IS NOT NULL)
 BEGIN
	SET @ID_PAGINA = (SELECT PAG_NID FROM TBL_PAGE WHERE PAG_CNAME LIKE + '%' + replace(REPLACE(@PAGINA,'/Page/',''),'.html','') + '%')
 END 

 SELECT C.CON_NID [ID_CONTENIDO], C.CON_CNAME [NOMBRE_CONTENIDO], C.CON_CDESCRIPTION [DESCRIPCION_CONTENIDO],   
   C.CON_NORDER [ORDEN_CONTENIDO], C.CON_OSTATE [ESTADO_CONTENIDO], C.COT_NID [ID_TIPO_CONTENIDO] , C.CON_NID_PARENT [ID_CONTENIDO_PADRE]
 FROM TBL_CONTENT C INNER JOIN TBL_RSECTION S
 ON C.SEC_NID = S.SEC_NID INNER JOIN TBL_TSECTION_PAGE SP
 ON S.SEC_NID = SP.SEC_NID
 WHERE SP.PAG_NID = ISNULL(@ID_PAGINA,1) 
 
 ORDER BY C.CON_NORDER ASC
  
END
GO
/****** Object:  StoredProcedure [dbo].[GET_CONTENT_LIST]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_CONTENT_LIST]  
@ID_SECCION AS BIGINT,
@ID_CONTENT_PARENT AS BIGINT = NULL
AS  
BEGIN  
 
  
 SELECT C.CON_NID ContentId, C.CON_CNAME ContentName, C.CON_CDESCRIPTION ContentDescription,   
   C.CON_NORDER ContentOrder, C.CON_OSTATE ContentState, C.COT_NID TypeContentId , C.CON_NID_PARENT ContentIdParent
 FROM TBL_CONTENT C 
 WHERE C.SEC_NID = ISNULL(@ID_SECCION, C.SEC_NID) 
 AND ISNULL(C.CON_NID_PARENT, 0) = ISNULL(@ID_CONTENT_PARENT, 0)
 ORDER BY C.CON_NORDER ASC
  
END
GO
/****** Object:  StoredProcedure [dbo].[GET_MAIN]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: SSData
-- Create date: Ene 2018
-- Description:	Procedimiento para obtener las paginas, secciones, controles.
-- =============================================
CREATE PROCEDURE [dbo].[GET_MAIN]-- 30004
@ID_PAGINA AS BIGINT
AS
BEGIN
	SELECT	DISTINCT A.APP_NID [ID_APLICACION], A.APP_CNAME [NOMBRE_APLICACION], A.APP_CDESCRIPTION [DESCRIPCION_APLICACION], A.APP_OSTATE [ESTADO_APLICACION],
			P.PAG_NID [ID_PAGINA], P.PAG_CNAME[NOMBRE_PAGINA], P.PAG_CDESCRIPTION [DESCRIPCION_PAGINA], P.PAG_OSTATE [ESTADO_PAGINA], P.PAG_OMAIN [PRINCIPAL], 
			S.SEC_NID [ID_SECCION], S.SEC_CNAME [NOMBRE_SECCION], S.SEC_CDESCRIPTION [DESCRIPCION_SECCION], S.SEC_OSTATE [ESTADO_SECCION], 
			S.SEC_NORDER [ORDEN_SECCION], C.CON_NID [ID_CONTENIDO], C.CON_CNAME [NOMBRE_CONTENIDO], C.CON_CDESCRIPTION [DESCRIPCION_CONTENIDO], 
			C.CON_NORDER [ORDEN_CONTENIDO], C.CON_OSTATE [ESTADO_CONTENIDO], CT.COT_NID [ID_TIPO_CONTENIDO], CT.COT_CNAME [NOMBRE_CONTENIDO], 
			CT.COT_CDESCRIPTION [DESCRIPCION_CONTENIDO], CAST(CT.COT_CISTYLE AS NVARCHAR(MAX)) [ESTILO_CONTENIDO], CT.COT_OSTATE [ESTADO_TIPO_CONTENIDO], V.VAR_NID [ID_VARIABLE], 
			V.VAR_CNAME [NOMBRE_VARIABLE], V.VAR_CDESCRIPTION [DESCRIPCION_VARIABLE], V.VAR_CVALOR [VALOR_VARIABLE], V.VAR_OSTATE [ESTADO_VARIABLE],
			VT.TYV_NID [ID_TIPO_VARIABLE], VT.TYV_CNAME [NOMBRE_TIPO_VARIABLE], VT.TYV_CDESCRIPTION [DESCRIPCION_TIPO_VARIABLE], 
			VT.TYV_OSTATE [ESTADO_TIPO_VARIABLE], CTR.CTR_NID [ID_CONTROL], CTR.CTR_CNAME [NOMBRE_CONTROL], CTR.CTR_CDESCRIPTION [DESCRIPCION_CONTROL], 
			CTR.CTR_CLABEL [LABEL_CONTROL], CTR.CTR_OSTATE [ESTADO_CONTROL], VA.VAL_NID [ID_VALIDACION], VA.VAL_CNAME [NOMBRE_VALIDACION], 
			VA.VAL_CDESCRIPCION [DESCRIPCION_VALIDACION], VA.VAL_OSTATE [ESTADO_VALIDACION],  TVA.TVA_NID [ID_TIPO_VALIDACION], 
			TVA.TVA_CNAME [NOMBRE_TIPO_VALIDACION], TVA.TVA_CDESCRIPTION [DESCRIPCION_TIPO_VALIDACION], TVA.TVA_CEXPRESSION [EXPRESION_TIPO_VALIDACION], 
			TVA.TVA_OSTATE [ESTADO_TIPO_VALIDACION]
	FROM TBL_RAPP A INNER JOIN TBL_PAGE P
		ON A.APP_NID = P.APP_NID INNER JOIN TBL_TSECTION_PAGE SP
		ON P.PAG_NID = SP.PAG_NID INNER JOIN TBL_RSECTION S
		ON SP.SEC_NID = S.SEC_NID INNER JOIN TBL_CONTENT C
		ON S.SEC_NID = C.SEC_NID INNER JOIN TBL_CONTENT_TYPE CT
		ON C.COT_NID = CT.COT_NID LEFT JOIN TBL_RVARIABLE V
		ON C.COT_NID = V.COT_NID LEFT JOIN TBL_RVARIABLE_TYPE VT
		ON V.TYV_NID = VT.TYV_NID LEFT JOIN TBL_RCONTROL CTR
		ON V.CTR_NID = CTR.CTR_NID  LEFT JOIN TBL_RVALIDATION VA
		ON V.VAL_NID = VA.VAL_NID LEFT JOIN TBL_RVALIDATION_TYPE TVA
		ON VA.TVA_NID = TVA.TVA_NID
	WHERE P.PAG_NID = @ID_PAGINA
	--ORDER BY CT.COT_NID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GET_PAGE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_PAGE]
AS  
BEGIN  
 
	SELECT PAG_NID PAGEID, PAG_CNAME PAGENAME, PAG_CDESCRIPTION PAGEDESCRIPTION,PAG_OSTATE PAGESTATE, PAG_OMAIN PAGEISMAIN
	FROM TBL_PAGE
END
GO
/****** Object:  StoredProcedure [dbo].[GET_SCORE_GAMES]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GET_SCORE_GAMES]
AS
BEGIN
	---Puzzle
	select TOP 10 GAM_NID GameId,
	GAM_CPLAYER Player,
	GAM_CDATE_PLAYER DateGame,
	GAM_NPUNTAJE Score,
	gam.TYP_NID TypeGameId,
	typ.TYP_CDESCRIPCION TypeGame
	from [dbo].[TBL_TSCORE_GAMES] gam inner join
	TBL_RTYPE_GAMES typ on gam.TYP_NID = typ.TYP_NID
	where typ.TYP_NID = 1
	union all
	---Crossword
	select TOP 10 GAM_NID GameId,
	GAM_CPLAYER Player,
	GAM_CDATE_PLAYER DateGame,
	GAM_NPUNTAJE Score,
	gam.TYP_NID TypeGameId,
	typ.TYP_CDESCRIPCION TypeGame
	from [dbo].[TBL_TSCORE_GAMES] gam inner join
	TBL_RTYPE_GAMES typ on gam.TYP_NID = typ.TYP_NID
	where typ.TYP_NID = 3
	union all
	---SoupLetters
		select TOP 10 GAM_NID GameId,
	GAM_CPLAYER Player,
	GAM_CDATE_PLAYER DateGame,
	GAM_NPUNTAJE Score,
	gam.TYP_NID TypeGameId,
	typ.TYP_CDESCRIPCION TypeGame
	from [dbo].[TBL_TSCORE_GAMES] gam inner join
	TBL_RTYPE_GAMES typ on gam.TYP_NID = typ.TYP_NID
	where typ.TYP_NID = 2
	order by score asc, DateGame desc
END

GO
/****** Object:  StoredProcedure [dbo].[GET_SECTION]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_SECTION]
@ID_PAGINA AS BIGINT
AS  
BEGIN  
 
	SELECT SEC.SEC_NID SECTIONID, SEC_CNAME SECTIONNAME, SEC_CDESCRIPTION SECTIONDESCRIPTION, SEC_OSTATE SECTIONSTATE, SEC_NORDER SECTIONORDER
	FROM TBL_RSECTION SEC 
	INNER JOIN TBL_TSECTION_PAGE SEP ON SEC.SEC_NID = SEP.SEC_NID 
	INNER JOIN TBL_PAGE PAG ON SEP.PAG_NID = PAG.PAG_NID
	WHERE PAG.PAG_NID =@ID_PAGINA
	
END
GO
/****** Object:  StoredProcedure [dbo].[GET_TYPE_CONTENT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_TYPE_CONTENT]
AS
BEGIN


	SELECT CT.COT_NID [ID_TIPO_CONTENIDO], CT.COT_CNAME [NOMBRE_CONTENIDO], 
			CT.COT_CDESCRIPTION [DESCRIPCION_CONTENIDO], CT.COT_CISTYLE [ESTILO_CONTENIDO], CT.COT_OSTATE [ESTADO_TIPO_CONTENIDO]
	FROM TBL_CONTENT_TYPE CT


END
GO
/****** Object:  StoredProcedure [dbo].[GET_VARIABLE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_VARIABLE]  
AS  
BEGIN  
  
  
 SELECT V.VAR_NID [ID_VARIABLE],   
   V.VAR_CNAME [NOMBRE_VARIABLE], V.VAR_CDESCRIPTION [DESCRIPCION_VARIABLE], V.VAR_CVALOR [VALOR_VARIABLE], V.VAR_OSTATE [ESTADO_VARIABLE],  
   V.TYV_NID [ID_TIPO_VARIABLE], V.COT_NID [ID_CONTENIDO]  
 FROM TBL_RVARIABLE V  (NOLOCK)
  
  
END
GO
/****** Object:  StoredProcedure [dbo].[GET_VARIABLE_BY_CONTENT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_VARIABLE_BY_CONTENT]  
@CONTENT_ID AS BIGINT
AS  
BEGIN  
  
  
	SELECT	DISTINCT V.VAR_NID [VariableId],   
			V.VAR_CNAME [VariableName], V.VAR_CDESCRIPTION [VariableDescription], V.VAR_CVALOR [VariableValor], V.VAR_OSTATE [VariableState],  
			V.COT_NID [ContentId], TV.TYV_NID [TypeVariableId], TV.TYV_CDESCRIPTION [TypeVariableDescription], 
			TV.TYV_CNAME [TypeVariableName], C.CON_NID ContentId, C.CON_CNAME ContentName, C.CON_CDESCRIPTION ContentDescription,   
			C.CON_NORDER ContentOrder, C.CON_OSTATE ContentState, C.COT_NID TypeContentId , C.CON_NID_PARENT ContentIdParent
	FROM TBL_RVARIABLE V  (NOLOCK) 
	INNER JOIN TBL_RVARIABLE_TYPE TV (NOLOCK) ON V.TYV_NID = TV.TYV_NID
	INNER JOIN TBL_CONTENT_TYPE CT (NOLOCK) ON V.COT_NID = CT.COT_NID
	INNER JOIN TBL_CONTENT C (NOLOCK) ON CT.COT_NID = C.COT_NID
	WHERE C.CON_NID = @CONTENT_ID
  
  
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CONTENT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[INSERT_CONTENT]  
@CON_CNAME	VARCHAR(50),
@CON_CDESCRIPTION	VARCHAR(100),
@CON_NORDER	BIGINT,
@CON_OSTATE	BIT,
@CON_NID_PARENT	BIGINT,
@COT_NID	BIGINT,
@SEC_NID	BIGINT,

@RESULT_SP AS VARCHAR(100) OUTPUT
AS  
BEGIN  
  
	BEGIN TRY
		INSERT TBL_TCONTENT (CON_CNAME, CON_CDESCRIPTION, CON_NORDER, CON_OSTATE, CON_NID_PARENT, COT_NID, SEC_NID)
		VALUES (@CON_CNAME, @CON_CDESCRIPTION, @CON_NORDER, @CON_OSTATE, @CON_NID_PARENT,  @COT_NID, @SEC_NID)

		RETURN 1
	END TRY
	BEGIN CATCH
		
		SET @RESULT_SP = 'Error: No fue posible insertar el registro, por favor valide.'
		RETURN 0
	END CATCH  
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CONTENT_TYPE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[INSERT_CONTENT_TYPE]
@COT_NID	BIGINT,
@COT_CNAME	VARCHAR(100),
@COT_CDESCRIPTION VARCHAR(150),
@COT_CISTYLE	XML,
@COT_OSTATE	BIT,

@RESULT_SP AS VARCHAR(100) OUTPUT
AS  
BEGIN  
  
	BEGIN TRY
		INSERT TBL_CONTENT_TYPE(COT_CNAME, COT_CDESCRIPTION, COT_CISTYLE, COT_OSTATE)
		VALUES (@COT_CNAME, @COT_CDESCRIPTION, @COT_CISTYLE, @COT_OSTATE)

		RETURN 1
	END TRY
	BEGIN CATCH
		
		SET @RESULT_SP = 'Error: No fue posible insertar el registro, por favor valide.'
		RETURN 0
	END CATCH  
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_PAGE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[INSERT_PAGE]
@PAG_NID	BIGINT,
@PAG_CNAME	VARCHAR(100),
@PAG_CDESCRIPTION	VARCHAR(150),
@PAG_OSTATE	BIT,
@PAG_OMAIN	BIT,
@APP_NID	BIGINT,

@RESULT_SP AS VARCHAR(100) OUTPUT
AS  
BEGIN  
  
	BEGIN TRY
		INSERT TBL_PAGE(PAG_CNAME, PAG_CDESCRIPTION, PAG_OSTATE, PAG_OMAIN, APP_NID)
		VALUES (@PAG_CNAME, @PAG_CDESCRIPTION, @PAG_OSTATE, @PAG_OMAIN, @APP_NID)

		RETURN 1
	END TRY
	BEGIN CATCH
		
		SET @RESULT_SP = 'Error: No fue posible insertar el registro, por favor valide.'
		RETURN 0
	END CATCH  
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_SAVE_SCORE_GAMES]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_SAVE_SCORE_GAMES]
@PI_CGAM_CPLAYER VARCHAR(255) = NULL,
@PI_NGAM_NPUNTAJE varchar(255) = NULL,
@PI_NTYP_NID varchar(255) = NULL,
@PO_NGAM_NID varchar(255) = NULL OUTPUT
AS
BEGIN
	INSERT INTO TBL_TSCORE_GAMES(GAM_CPLAYER,GAM_NPUNTAJE,TYP_NID) 
	VALUES(@PI_CGAM_CPLAYER,@PI_NGAM_NPUNTAJE,@PI_NTYP_NID)
	SET @PO_NGAM_NID = SCOPE_IDENTITY()
	return @PO_NGAM_NID
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_VARIABLE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[INSERT_VARIABLE]
@VAR_NID	BIGINT,
@VAR_CNAME	VARCHAR(100),
@VAR_CDESCRIPTION	VARCHAR(150),
@VAR_CVALOR	VARCHAR(150),
@VAR_OSTATE	BIT,
@TYV_NID	BIGINT,
@VAL_NID	BIGINT,
@CTR_NID	BIGINT,
@COT_NID	BIGINT,

@RESULT_SP AS VARCHAR(100) OUTPUT
AS  
BEGIN  
  
	BEGIN TRY
		INSERT TBL_RVARIABLE(VAR_CNAME, VAR_CDESCRIPTION, VAR_CVALOR, VAR_OSTATE, TYV_NID, VAL_NID, CTR_NID, COT_NID)
		VALUES (@VAR_CNAME, @VAR_CDESCRIPTION, @VAR_CVALOR, @VAR_OSTATE, @TYV_NID, @VAL_NID, @CTR_NID, @COT_NID)

		RETURN 1
	END TRY
	BEGIN CATCH
		
		SET @RESULT_SP = 'Error: No fue posible insertar el registro, por favor valide.'
		RETURN 0
	END CATCH  
END
GO
/****** Object:  StoredProcedure [dbo].[OPTION_FIELD_I]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/30
-- Description: Deletes recors from table [dbo].[TBL_TOPTION_FIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[OPTION_FIELD_I]
    
    @OPF_CVALUE [varchar](max),
    @FIE_NID [bigint],
    @OPF_OSTATE [bit]
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[TBL_TOPTION_FIELD] (
         [OPF_CVALUE]    
        ,[FIE_NID]    
        ,[OPF_OSTATE]
    )
    OUTPUT inserted.[OPF_NID]
    SELECT @OPF_CVALUE    
        ,@FIE_NID    
        ,@OPF_OSTATE
END
GO
/****** Object:  StoredProcedure [dbo].[OPTION_FIELD_INSERT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Deletes recors from table [dbo].[TBL_TOPTION_FIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[OPTION_FIELD_INSERT]
@OPF_CVALUE [varchar](max),
@FIE_NID [bigint],
@OPF_OSTATE [bit]
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[TBL_TOPTION_FIELD] (
		[OPF_CVALUE]
        ,[FIE_NID]
        ,[OPF_OSTATE]
    )
    OUTPUT inserted.[OPF_NID]
    SELECT @OPF_CVALUE
        ,@FIE_NID
        ,@OPF_OSTATE
END
GO
/****** Object:  StoredProcedure [dbo].[OPTION_FIELD_S]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/30
-- Description: Selects records from table [dbo].[TBL_TOPTION_FIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[OPTION_FIELD_S]
    
    @OPF_NID [bigint] = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF (@OPF_NID IS NULL)
    BEGIN
        SELECT [OPF_NID] OptionFieldid,
            [OPF_CVALUE] OptionFieldName,
            [OPF_OSTATE] OptionFieldState,
			F.[FIE_NID] FieldId,
			[FIE_CNAME] FieldName,
			[FIE_CDESCRIPTION] FieldDescription,
			[FIE_CLABEL] FieldLabel,
			[FIE_OSTATE] FieldState
        FROM [dbo].[TBL_TOPTION_FIELD] AS OFI
		INNER JOIN TBL_RFIELD F ON OFI.FIE_NID = F.FIE_NID
    END
    ELSE
    BEGIN
        SELECT [OPF_NID] OptionFieldid,
            [OPF_CVALUE] OptionFieldName,
            [OPF_OSTATE] OptionFieldState,
			F.[FIE_NID] FieldId,
			[FIE_CNAME] FieldName,
			[FIE_CDESCRIPTION] FieldDescription,
			[FIE_CLABEL] FieldLabel,
			[FIE_OSTATE] FieldState
        FROM [dbo].[TBL_TOPTION_FIELD] AS OFI
		INNER JOIN TBL_RFIELD F ON OFI.FIE_NID = F.FIE_NID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[OPTION_FIELD_SELECT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Selects records from table [dbo].[TBL_TOPTION_FIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[OPTION_FIELD_SELECT]
    
    @FIE_NID [bigint] = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF (@FIE_NID IS NULL)
    BEGIN
        SELECT [OPF_NID] OptionFieldId
            ,[OPF_CVALUE] OptionFieldValue
            ,[OPF_OSTATE] OptionFieldState,
			F.[FIE_NID] FieldId,
			[FIE_CNAME] FieldName,
			[FIE_CDESCRIPTION] FieldDescription,
			[FIE_CLABEL] FieldLabel,
			[FIE_OSTATE] FieldState,
			TF.TFI_NID TypeFieldId,
			TF.TFI_CNAME TypeFieldName,
			TF.TFI_CTYPE TypeFieldType,
			TF.TFI_OSTATE TypeFieldState,
			A.[ANN_NID] AnnouncementId,
			[ANN_CNAME] AnnouncementName,
			[ANN_CDESCRIPTION]  AnnouncementDescription,
			[ANN_DINITIAL]  AnnouncementDateInicial,
			[ANN_DFINAL]    AnnouncementDateFinal,
			[ANN_OSTATE]	AnnouncementState
        FROM [dbo].[TBL_TOPTION_FIELD] OP
		INNER JOIN [dbo].[TBL_RFIELD] F ON OP.FIE_NID = F.FIE_NID
		INNER JOIN TBL_RTYPE_FIELD TF ON F.TFI_NID = TF.TFI_NID
		INNER JOIN TBL_RANNOUNCEMENT A ON F.ANN_NID = A.ANN_NID

    END
    ELSE
    BEGIN
        SELECT [OPF_NID] OptionFieldId
            ,[OPF_CVALUE] OptionFieldValue
            ,[OPF_OSTATE] OptionFieldState,
			F.[FIE_NID] FieldId,
			[FIE_CNAME] FieldName,
			[FIE_CDESCRIPTION] FieldDescription,
			[FIE_CLABEL] FieldLabel,
			[FIE_OSTATE] FieldState,
			TF.TFI_NID TypeFieldId,
			TF.TFI_CNAME TypeFieldName,
			TF.TFI_CTYPE TypeFieldType,
			TF.TFI_OSTATE TypeFieldState,
			A.[ANN_NID] AnnouncementId,
			[ANN_CNAME] AnnouncementName,
			[ANN_CDESCRIPTION]  AnnouncementDescription,
			[ANN_DINITIAL]  AnnouncementDateInicial,
			[ANN_DFINAL]    AnnouncementDateFinal,
			[ANN_OSTATE]	AnnouncementState
        FROM [dbo].[TBL_TOPTION_FIELD] OP
		INNER JOIN [dbo].[TBL_RFIELD] F ON OP.FIE_NID = F.FIE_NID
		INNER JOIN TBL_RTYPE_FIELD TF ON F.TFI_NID = TF.TFI_NID
		INNER JOIN TBL_RANNOUNCEMENT A ON F.ANN_NID = A.ANN_NID
        WHERE (@FIE_NID IS NULL OR F.FIE_NID = @FIE_NID)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[OPTION_FIELD_U]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/30
-- Description: Updates record in table [dbo].[TBL_TOPTION_FIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[OPTION_FIELD_U]
    @OPF_NID [bigint],
    @OPF_CVALUE [varchar](max),
    @FIE_NID [bigint],
    @OPF_OSTATE [bit]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[TBL_TOPTION_FIELD] SET
         [OPF_CVALUE] = @OPF_CVALUE    
        ,[FIE_NID] = @FIE_NID    
        ,[OPF_OSTATE] = @OPF_OSTATE
    WHERE [OPF_NID] = @OPF_NID
END
GO
/****** Object:  StoredProcedure [dbo].[OPTION_FIELD_UPDATE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/10
-- Description: Updates record in table [dbo].[TBL_TOPTION_FIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[OPTION_FIELD_UPDATE]
    @OPF_NID [bigint],
    @OPF_CVALUE [varchar](max),
    @FIE_NID [bigint],
    @OPF_OSTATE [bit]
AS
BEGIN
    SET NOCOUNT ON;

	UPDATE [dbo].[TBL_TOPTION_FIELD] 
	SET [OPF_CVALUE] = @OPF_CVALUE
		,[FIE_NID] = @FIE_NID
		,[OPF_OSTATE] = @OPF_OSTATE
	WHERE [OPF_NID] = @OPF_NID
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_GET_LETTERS_SOUP]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SPR_GET_LETTERS_SOUP]
@PI_OSTATE BIT = NULL
AS
BEGIN
	SELECT [SOP_NID] SoupId
      ,[SOP_CDESCRIPTION] SoupDescription
      ,[SOP_CHTML] SoupChtml
      ,[SOP_OSTATE] SoupState
  FROM [TEST].[dbo].[TBL_RLETTERS_SOUP]
  WHERE SOP_OSTATE = ISNULL(@PI_OSTATE,SOP_OSTATE)
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_GET_LOGIN]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPR_GET_LOGIN]
@PI_NOPTION BIGINT,
@PI_CLOGIN VARCHAR(255),
@PI_CPASSWORD  VARCHAR(255)
AS
BEGIN
	IF @PI_NOPTION = 1 --ADMINISTRACION
	BEGIN
		SELECT	LOG_NID IdLogin,
				LOG_NDOCUMENT Document,
				LOG_CNAME NameUser,
				LOG_CLASTNAME LastName,
				LOG_CUSER [User],
				LOG_CPASSWORD [Password], 
				LOG_DCREATE_DATE,
				LOG_OSTATE StateLogin,
				PRO.PRO_CNAME NameProfile, 
				PRO.PRO_NID IdProfile
		FROM	TBL_RLOGIN LOG_ INNER JOIN
				TBL_RPROFILE PRO ON LOG_.PRO_NID = PRO.PRO_NID
		--WHERE	LOG_CUSER = @PI_CLOGIN AND LOG_CPASSWORD = @PI_CPASSWORD
				--AND LOG_OSTATE = 1

	END
	ELSE IF @PI_NOPTION = 2 --GESTION
	BEGIN
		update tbl_rlogin
		set log_ctoken =  newid(),
			LOG_DDATE_GENERATION_TOKEN = getdate()
		WHERE LOG_CUSER = @PI_CLOGIN AND LOG_CPASSWORD = @PI_CPASSWORD

		SELECT	LOG_NID IdLogin,
				LOG_NDOCUMENT Document,
				LOG_CNAME NameUser,
				LOG_CLASTNAME LastName,
				LOG_CUSER [User],
				LOG_CPASSWORD [Password], 
				LOG_DCREATE_DATE,
				LOG_OSTATE StateLogin,
				PRO.PRO_CNAME NameProfile, 
				PRO.PRO_NID IdProfile,
				PRO.PRO_CURL_DEFAULT UrlDefault,
				log_ctoken Token
		FROM	TBL_RLOGIN LOG_ INNER JOIN
				TBL_RPROFILE PRO ON LOG_.PRO_NID = PRO.PRO_NID
		WHERE LOG_CUSER = @PI_CLOGIN AND LOG_CPASSWORD = @PI_CPASSWORD

		
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_GET_LOGIN_LIST]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPR_GET_LOGIN_LIST]
AS
BEGIN
	SELECT	LOG_NID IdLogin,
			LOG_NDOCUMENT Document,
			LOG_CNAME NameUser,
			LOG_CLASTNAME LastName,
			LOG_CUSER [User],
			LOG_CPASSWORD [Password], 
			LOG_DCREATE_DATE,
			LOG_OSTATE StateLogin,
			PRO.PRO_CNAME NameProfile, 
			PRO.PRO_NID IdProfile
	FROM	TBL_RLOGIN LOG_ INNER JOIN
			TBL_RPROFILE PRO ON LOG_.PRO_NID = PRO.PRO_NID

END
GO
/****** Object:  StoredProcedure [dbo].[SPR_GET_TYPE_DOCUMENT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPR_GET_TYPE_DOCUMENT]
@PI_TIP_OSTATE BIT = NULL
AS
BEGIN
	SELECT	TIP_NID IdDocument,
			TIP_CDESCRIPTION TypeDocument,
			TIP_OSTATE StateDocument
	FROM TBL_RTYPE_DOCUMENT
	WHERE TIP_OSTATE = ISNULL(@PI_TIP_OSTATE,TIP_OSTATE)
END

GO
/****** Object:  StoredProcedure [dbo].[SPR_GET_VALIDATE_TOKEN]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPR_GET_VALIDATE_TOKEN]
@PI_CUSER VARCHAR(255),
@PI_NID_LOGIN BIGINT,
@PI_CLOG_CTOKEN VARCHAR(255),
@PO_OVALIDATE BIT = NULL OUTPUT
AS
BEGIN
	
	declare @minute bigint, @token varchar(255) 
	
		select @minute = datediff(minute,LOG_DDATE_GENERATION_TOKEN,getdate()), @token =  LOG_CTOKEN
		from TBL_RLOGIN 
		where LOG_NID = @PI_NID_LOGIN
	
	

	IF (@minute > 60 or @token <> @PI_CLOG_CTOKEN)
	BEGIN
		SET @PO_OVALIDATE = 0
	END
	ELSE
	BEGIN
		SET @PO_OVALIDATE = 1
	END
	 
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_GET_WORDS_SOUP]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPR_GET_WORDS_SOUP]
@PI_NSOP_NID BIGINT,
@PI_OSTATE BIT = NULL
AS
BEGIN

	SELECT [WOR_NID] WordId
      ,[SOP_NID] SoupId
      ,[WOR_CWORD] Word
      ,[WOR_OSTATE] WordState
  FROM [TEST].[dbo].[TBL_RWORDS_SOUP]
  WHERE WOR_OSTATE = ISNULL(@PI_OSTATE, WOR_OSTATE)
  AND SOP_NID = @PI_NSOP_NID

END
GO
/****** Object:  StoredProcedure [dbo].[SPR_INS_REGISTER_DONWLOAD]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPR_INS_REGISTER_DONWLOAD]
@PI_NTIP_NID BIGINT,
@PI_CREG_CDOCUMENT VARCHAR(255),
@PI_CREG_CNAME VARCHAR(255),
@PI_CREG_CLASTNAME VARCHAR(255),
@PI_CREG_CEMAIL VARCHAR(255),
@PI_CREG_CPHONE VARCHAR(255),
@PI_NREG_NID BIGINT = NULL OUTPUT
AS
BEGIN
	insert into TBL_TREGISTER_DOWNLOAD values(
	@PI_NTIP_NID,
	@PI_CREG_CDOCUMENT,
	@PI_CREG_CNAME,
	@PI_CREG_CLASTNAME,
	@PI_CREG_CEMAIL,
	@PI_CREG_CPHONE,
	GETDATE())

	SET @PI_NREG_NID = SCOPE_IDENTITY()
	RETURN @PI_NREG_NID
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_INS_REGISTER_DOWNLOAD]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SPR_INS_REGISTER_DOWNLOAD]
@PI_NTIP_NID bigint,
@PI_CDOCUMENT varchar(25),
@PI_CNAME varchar(255),
@PI_CLASTNAME varchar(25),
@PI_CEMAIL varchar(255),
@PI_CPHONE varchar(8),
@PO_NREG_NID BIGINT = NULL OUTPUT
AS
BEGIN
INSERT INTO [dbo].[TBL_TREGISTER_DOWNLOAD]
           ([TIP_NID]
           ,[REG_CDOCUMENT]
           ,[REG_CNAME]
           ,[REG_CLASTNAME]
           ,[REG_CEMAIL]
           ,[REG_CPHONE]
           ,[REG_DDATE])
     VALUES
           (@PI_NTIP_NID
           ,@PI_CDOCUMENT
           ,@PI_CNAME
           ,@PI_CLASTNAME
           ,@PI_CEMAIL
           ,@PI_CPHONE
           ,GETDATE())

	SET @PO_NREG_NID = SCOPE_IDENTITY()

	RETURN @PO_NREG_NID
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_INS_WORDS_SOUP]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPR_INS_WORDS_SOUP]
@PI_NSOP_NID bigint,
@PI_CWOR_CWORD varchar(255),
@PI_OWOR_OSTATE bit,
@PO_NWOR_NID BIGINT = NULL 
AS
BEGIN
	INSERT INTO [TEST].[dbo].[TBL_RWORDS_SOUP]
           ([SOP_NID]
           ,[WOR_CWORD]
           ,[WOR_OSTATE])
     VALUES
           (@PI_NSOP_NID
           ,@PI_CWOR_CWORD
           ,@PI_OWOR_OSTATE)
     
     SET @PO_NWOR_NID = SCOPE_IDENTITY()
     
     RETURN @PO_NWOR_NID
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_IU_LETTERS_SOUP]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPR_IU_LETTERS_SOUP]
@PI_CSOP_CDESCRIPTION VARCHAR(255),
@PI_XSOP_CHTML XML,
@PI_OSOP_OSTATE BIT,
@PO_NSOP_NID BIGINT = NULL OUTPUT
AS
BEGIN
	INSERT INTO [TEST].[dbo].[TBL_RLETTERS_SOUP]
           (SOP_CDESCRIPTION
           ,[SOP_CHTML]
           ,[SOP_OSTATE])
     VALUES
           (@PI_CSOP_CDESCRIPTION
			,@PI_XSOP_CHTML
            ,@PI_OSOP_OSTATE)
     
     SET @PO_NSOP_NID = SCOPE_IDENTITY()
     
     RETURN @PO_NSOP_NID
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_IU_USER]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPR_IU_USER]
@PI_NLOG_NID BIGINT,
@PI_CLOGIN VARCHAR(255),
@PI_CPASSWORD VARCHAR(255),
@PI_CNAME VARCHAR(255),
@PI_CLASTNAME VARCHAR(255),
@PI_NDOCUMENT BIGINT,
@PI_PRO_NID BIGINT,
@PI_OSTATE BIT,
@PO_NRESULT BIGINT = NULL OUTPUT
AS
BEGIN

	IF NOT EXISTS(SELECT 1 FROM TBL_RLOGIN WHERE LOG_NID = @PI_NLOG_NID)
	BEGIN
		INSERT INTO TBL_RLOGIN (LOG_NDOCUMENT, LOG_CNAME, LOG_CLASTNAME, LOG_CUSER, LOG_CPASSWORD,
								PRO_NID, LOG_DCREATE_DATE, LOG_OSTATE, AUD_NID)
		VALUES(@PI_NDOCUMENT,@PI_CNAME,@PI_CLASTNAME,@PI_CLOGIN,@PI_CPASSWORD,@PI_PRO_NID,GETDATE(),@PI_OSTATE, 1)
		SET @PO_NRESULT = SCOPE_IDENTITY()
	END
	ELSE
	BEGIN
		UPDATE TBL_RLOGIN 
		SET LOG_NDOCUMENT = @PI_NDOCUMENT,
			LOG_CNAME = @PI_CNAME,
			LOG_CLASTNAME = @PI_CLASTNAME,
			LOG_CUSER = @PI_CLOGIN,
			LOG_CPASSWORD = @PI_CPASSWORD,
			PRO_NID = @PI_PRO_NID,
			LOG_OSTATE = @PI_OSTATE
		WHERE LOG_NID = @PI_NLOG_NID

		SET @PO_NRESULT = 0
	END

END
GO
/****** Object:  StoredProcedure [dbo].[TYPE_FIELD_SELECT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/11
-- Description: Selects records from table [dbo].[TBL_RTYPE_FIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[TYPE_FIELD_SELECT]
    @TFI_NID [bigint] = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF (@TFI_NID IS NULL)
    BEGIN
        SELECT [TFI_NID] TypeFieldId
            ,[TFI_CNAME] TypeFieldName
            ,[TFI_CTYPE] TypeFieldType
            ,[TFI_OSTATE] TypeFieldState
        FROM [dbo].[TBL_RTYPE_FIELD]
    END
    ELSE
    BEGIN
        SELECT [TFI_NID] TypeFieldId
            ,[TFI_CNAME] TypeFieldName
            ,[TFI_CTYPE] TypeFieldType
            ,[TFI_OSTATE] TypeFieldState
        FROM [dbo].[TBL_RTYPE_FIELD]
        WHERE(@TFI_NID IS NULL OR [TFI_NID] = @TFI_NID)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_VARIABLE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UPDATE_VARIABLE]
@VAR_NID	BIGINT,
@VAR_CNAME	VARCHAR(100),
@VAR_CDESCRIPTION	VARCHAR(150),
@VAR_CVALOR	VARCHAR(150),
@VAR_OSTATE	BIT,
@TYV_NID	BIGINT,
@VAL_NID	BIGINT,
@CTR_NID	BIGINT,
@COT_NID	BIGINT,

@RESULT_SP AS VARCHAR(100) OUTPUT
AS  
BEGIN  
  
	BEGIN TRY
		UPDATE TBL_RVARIABLE
		SET VAR_CVALOR = @VAR_CVALOR,
		VAR_CNAME = @VAR_CNAME, 
		VAR_CDESCRIPTION = @VAR_CDESCRIPTION, 
		VAR_OSTATE = @VAR_OSTATE
		WHERE VAR_NID = @VAR_NID

		RETURN 1
	END TRY
	BEGIN CATCH
		
		SET @RESULT_SP = 'Error: No fue posible actualizar el registro, por favor valide.'
		RETURN 0
	END CATCH  
END
GO
/****** Object:  StoredProcedure [dbo].[VALUE_FIELD_INSERT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/11
-- Description: Deletes recors from table [dbo].[TBL_TVALUE_FIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[VALUE_FIELD_INSERT]
    @T_VALUE_FIELD AS VALUEFIELDTYPE READONLY
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[TBL_TVALUE_FIELD] (
             [VAF_CVALUE]    
        ,[VAF_NCLIENT]    
        ,[FIE_NID]
    )
    SELECT VAF_CVALUE, VAF_NCLIENT, FIE_NID
	FROM @T_VALUE_FIELD
END
GO
/****** Object:  StoredProcedure [dbo].[VALUE_FIELD_SELECT]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/11
-- Description: Selects records from table [dbo].[TBL_TVALUE_FIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[VALUE_FIELD_SELECT]
    @VAF_NID [bigint] = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF (@VAF_NID IS NULL)
    BEGIN
        SELECT [VAF_NID] ValueFieldId
            ,[VAF_CVALUE] ValueFieldValue
            ,[VAF_NCLIENT] ValueFieldIdCliente
            ,F.[FIE_NID] FieldId,
			[FIE_CNAME] FieldName,
			[FIE_CDESCRIPTION] FieldDescription,
			[FIE_CLABEL] FieldLabel,
			[FIE_OSTATE] FieldState
        FROM [dbo].[TBL_TVALUE_FIELD] VF
		INNER JOIN TBL_RFIELD F ON VF.FIE_NID = F.FIE_NID
    END
    ELSE
    BEGIN
        SELECT [VAF_NID] ValueFieldId
            ,[VAF_CVALUE] ValueFieldValue
            ,[VAF_NCLIENT] ValueFieldIdCliente
            ,F.[FIE_NID] FieldId,
			[FIE_CNAME] FieldName,
			[FIE_CDESCRIPTION] FieldDescription,
			[FIE_CLABEL] FieldLabel,
			[FIE_OSTATE] FieldState
        FROM [dbo].[TBL_TVALUE_FIELD] VF
		INNER JOIN TBL_RFIELD F ON VF.FIE_NID = F.FIE_NID
        WHERE (@VAF_NID IS NULL OR [VAF_NID] = @VAF_NID)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[VALUE_FIELD_UPDATE]    Script Date: 22/11/2018 11:05:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- Author:      [sa]
-- Create date: 2018/10/11
-- Description: Updates record in table [dbo].[TBL_TVALUE_FIELD]
-- =======================================================
CREATE PROCEDURE [dbo].[VALUE_FIELD_UPDATE]
    
    @VAF_NID [bigint],
    @VAF_CVALUE [varchar](max),
    @VAF_NCLIENT [bigint],
    @FIE_NID [bigint]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[TBL_TVALUE_FIELD] 
	SET [VAF_CVALUE] = @VAF_CVALUE    
        ,[VAF_NCLIENT] = @VAF_NCLIENT    
        ,[FIE_NID] = @FIE_NID
    WHERE [VAF_NID] = @VAF_NID
END
GO
USE [master]
GO
